.container {
    background-color: rgb(102, 87, 133);
    border:5px solid rgb(207, 104, 104);
    height: 343px;
    width: 320px;
    margin: 0 auto;
}

table td {
    border:5px solid rgb(207, 104, 104);
    border-collapse: collapse;
    height: 100px;
    width: 100px;
    text-align-last: center;
}