  input[type=text] {
    width: 90%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  } 

  .button-primary {
    padding: 16px 20px;
    margin: 0 auto;
    display: block;
    width: 50%;
    opacity: 0.9;
  }
